.hamburger {
  position: absolute;
  top: 20px;
  right: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  cursor: pointer;
  span {
    display: block;
    width: 34px;
    height: 3px;
    background: $main-color;
  }
  span.long {
    width: 40px;
  }
}